<div class="jumbotron">
  <h1>Welcome to Plantitude</h1>
  <p>The nutrition app for vegan and vegetarian athletes.</p>
  {{link-to 'Recipes' 'recipes'}}
  {{#link-to 'new-recipe'}}New recipe{{/link-to}}
</div>
