<div class="jumbotron">
  <h1>Welcome to Plantitude</h1>
  <p>The nutrition app for vegan and vegetarian athletes.</p>
</div>
<div class="row">
  <div class="col-md-4">
    <h3>Recipes</h3>
    {{#link-to 'recipes'}}Find a recipe{{/link-to}} <br>
    {{#link-to 'new-recipe'}}Create New recipe{{/link-to}}
  </div>
  <div class="col-md-4">
    <h3>Nutrition Calculator</h3>
    <p>Calculate your nutritional needs for your next race.</p>
  </div>
  <div class="col-md-4">
    <h3>Advice</h3>
    <p>Get advice from your favorite plantitude athletes.</p>
  </div>
<div>
